* {
    margin: 0;
    padding: 0;
}

body {
    /* 设置最小宽度，防止挤压使中间内容消失 */
    min-width: 600px;
}

.header {
    background-color: rgb(2, 82, 79);
    height: 100px;
    border: dimgray 1px solid;
}

.footer {
    height: 30px;
    color: rgb(103, 103, 103);
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

/* 通过BFC解决高度塌陷 */
/* .content {
  overflow: hidden;
} */

.footer {
    /* 通过清除底部浮动解决高度塌陷 */
    clear: both;
}

.wrapper {
    margin-top: 20px;
    padding-left: 200px;
    padding-right: 50px;
}

.middle {
    height: 750px;
    /* 中间列自适应，所以宽度100%继承父元素宽度 */
    width: 100%;
    float: left;
}

.left {
    height: 750px;
    width: 200px;
    float: left;
    position: relative;
    margin-left: -100%;
    right: 200px;
}

.right {
    height: 750px;
    width: 200px;
    float: left;
    margin-right: -200px;
}

/* header */
.header {
    display: flex;
    flex-direction: row;
	align-items: center;
    justify-content: center;
}

.header_item
{
    flex:1;

}

#snow {
    display: flex;
    flex-direction: row;
	align-items: center;
    justify-content: center;
    margin-left: 30px;
}

/* content */
/* middle */
.middle {
    width:100%;
    display: flex;
}

.all_video .lip_video{
    display: flex;
    flex-direction: column;
	align-items: center;
    margin: 10px;
    background-color: lightpink;
}

.all_video {
    max-width: 800px;
    min-width: 500px;
}

.lip_video {
    max-width: 500px;
    min-width: 400px;
}

.result{
    width: 100%;
    margin: 10px;
    
}

/* left */
.left {
    display: flex;
    flex-direction: column;
	align-items: center;
}

.left_item
{
    margin-left: 40px;
    flex:1;
}

/* right */
.right {
    flex-direction: column;
	align-items: center;
}

.right_item
{
    flex:1;
    margin-left: -30%;
}


/* button */
.save {
    background: #00c1a7;
    background-image: -webkit-linear-gradient(top, #00c1a7, #00c1a7);
    background-image: -moz-linear-gradient(top, #00c1a7, #00c1a7);
    background-image: -ms-linear-gradient(top, #00c1a7, #00c1a7);
    background-image: -o-linear-gradient(top, #00c1a7, #00c1a7);
    background-image: linear-gradient(to bottom, #00c1a7, #00c1a7);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 15px 10px 15px;
    text-decoration: none;
    margin-left: 500px;
    
  }

.begin {
background: #ffffff;
background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
background-image: -o-linear-gradient(top, #ffffff, #ffffff);
background-image: linear-gradient(to bottom, #ffffff, #ffffff);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;
font-family: Arial;
color: #00c1a7;
font-size: 20px;
padding: 10px 15px 10px 15px;
text-decoration: none;
}

.end {
background: #02524f;
background-image: -webkit-linear-gradient(top, #02524f, #02524f);
background-image: -moz-linear-gradient(top, #02524f, #02524f);
background-image: -ms-linear-gradient(top, #02524f, #02524f);
background-image: -o-linear-gradient(top, #02524f, #02524f);
background-image: linear-gradient(to bottom, #02524f, #02524f);
-webkit-border-radius: 8;
-moz-border-radius: 8;
border-radius: 8px;
font-family: Arial;
color: #ffffff;
font-size: 20px;
padding: 10px 15px 10px 15px;
text-decoration: none;
}

.shouce {
    background: #00c1a7;
    background-image: -webkit-linear-gradient(top, #00c1a7, #00c1a7);
    background-image: -moz-linear-gradient(top, #00c1a7, #00c1a7);
    background-image: -ms-linear-gradient(top, #00c1a7, #00c1a7);
    background-image: -o-linear-gradient(top, #00c1a7, #00c1a7);
    background-image: linear-gradient(to bottom, #00c1a7, #00c1a7);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #ffffff;
    font-size: 10px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    margin-top: 200px;
  }


.fankui {
    background: #ffffff;
    background-image: -webkit-linear-gradient(top, #ffffff, #ffffff);
    background-image: -moz-linear-gradient(top, #ffffff, #ffffff);
    background-image: -ms-linear-gradient(top, #ffffff, #ffffff);
    background-image: -o-linear-gradient(top, #ffffff, #ffffff);
    background-image: linear-gradient(to bottom, #ffffff, #ffffff);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: Arial;
    color: #00c1a7;
    font-size: 10px;
    padding: 10px 5px 10px 5px;
    text-decoration: none;
    margin-bottom: px;
}


/* word */
.label {
    color: rgb(103, 103, 103);
    font-size: 40px;
    font-weight: bold;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 260px;
    writing-mode: horizontal-tb;
    text-align: center;
}

.wenbenkuang {
    width: 60%;
    height: 280px;
    background: rgb(208, 208, 208);
    border-radius: 10px;
    color: rgb(0, 0, 0);
    font-size: 40px;
    font-weight: bold;
}

.select_beisu {
    font-family: Arial;
    color: #02524f;
    font-size: 20px;
    margin-top: 50px;
}

.select_video ,.info{
    font-family: Arial;
    color: #ffffff;
    font-size: 20px;
    width: 120px;
}

.info {
    text-align: right;
    margin-right: 50px;
}

.notice{
    text-align: center;
    color:yellow;
    font-size: 25px;
}


.popup {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    border: 1px solid black;
    padding: 20px;
  }
  
  .popup p {
    margin: 0;
  }
  
  .popup textarea {
    display: block;
    margin: auto;
    direction: ltr;
    text-align: left;
    writing-mode: horizontal-tb;
    font-size:20px;
  }

  .popup button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    border: none;
    background-color: blue;
    color: white;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .popup button:hover {
    background-color: lightblue;
  }